$content-fontcolor: #333;
$medium-fontColor: #666;
$dark-fontColor: #000;
$content-notice-fontcolor: #777;
$light-fontColor: #999;
$content-bgColor: #f1f1f1;
$btn-bgColor: #0091ff;
$search-bgColor: #f5f5f5;
$search-fontColor: #b7b7b7;
$bgColor: #fff;
$highlight-fontColor: #e93b3b;
